# LINE Login Credentials
LINE_CLIENT_ID=
LINE_CLIENT_SECRET=

# Firebase Service Account (Optional if running in Cloud Run with default SA)
# Should be a JSON string
FIREBASE_SERVICE_ACCOUNT_KEY=

# Google Maps API Key
VITE_GOOGLE_MAPS_API_KEY=
