<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738622111654-uo3jdcqel099eb82kkegi5qcqqvdij79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738622111654-uo3jdcqel099eb82kkegi5qcqqvdij79</string>
	<key>API_KEY</key>
	<string>AIzaSyAhhh6Kj_CXkVyGVJa2W1OpihQ3dt1Icm0</string>
	<key>GCM_SENDER_ID</key>
	<string>738622111654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.billionaire.app</string>
	<key>PROJECT_ID</key>
	<string>ai-studio-applet-webapp-c0fee</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-studio-applet-webapp-c0fee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738622111654:ios:306faf4c362d5354659967</string>
</dict>
</plist>